/* DOCUMENT INFORMATION
	- Document: erciyes üni homepage 
	- Version:  1.0.0
	- Client:   2015 - 2020 © ERÜ Web İçerik Yönetim Sistemi
	- Author:   selman tunç  
*/


/* Table of Contents [  CSS MAPS  ]
/*** CONTENTS ***/
/*****************************************************************
01. #Reset
02. #Typography
03. #General
04. #Wrapper
05. #Header
    05-01. #header logo 

*****************************************************************/

/* ==========================================================================
                                     01. #Reset
   ========================================================================== */

/* ==========================================================================
                                    03. #General
   ========================================================================== */
   .noPadding{
	   padding: 0!important;
   }

/* ==========================================================================
                                     04. #Header
   ========================================================================== */

   #wrapper.boxed {
    width: 1230px;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    background: #fff;
    box-shadow: 0 0 10px rgba(50, 50, 50, 0.75);
    /* box-shadow: 0 0 25px rgba(60, 60, 60, 0.95); */
}


/* ==========================================================================
                                     05. #Header
   ========================================================================== */

   .header-container {
    margin: 0!important;
    padding:  0!important;

}

/* ==========================================================================
                                     05-01. #Header 
   ========================================================================== */



/* ----------------------#List elementts ---------------------------- */
/* ----------------------#Button ---------------------------- */